* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}